.cuerpo {
    min-height: 800px;
}

.grid-image {
    width: 150px;
}

.img-mant {
    width: 15px;
    height: auto;
}

.img-form {
    width: 300px;
    height: auto;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.spinner-container {
    min-height: 600px;
}